.card {
  position: relative;
  cursor: pointer;
  height: 386px;
  min-width: 0;

  @include vp-1023 {
    aspect-ratio: 309 / 386;
    width: 100%;
    height: auto;
    min-height: 386px;
  }

  @include vp-767 {
    aspect-ratio: 270 / 386;
  }
}


.card__front,
.card__back {
  width: 100%;
  height: 100%;
  word-wrap: break-word;
}

.card__front img {
  display: block;
  margin: 0 auto;
  height: 386px;
  width: 100%;
  object-fit: cover;
  margin: 0;

  @include vp-1023 {
    height: 100%;
  }

  @include vp-767 {
    height: auto;
    width: 717px;
  }
}

.card__front {
  background-color: $color-tangaroa;
}

.card__front-title {
  margin: 0;
  position: absolute;
  bottom: 23px;
  left: 11.5%;
  max-width: 80%;
  max-height: 85%;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  color: $color-alice-blue;
  overflow: hidden;

  @include vp-1023 {
    bottom: 25px;
  }

  @include vp-767 {
    bottom: 17px;
    left: 9%;
  }
}

.card__back {
  display: none;
  background-color: $color-tangaroa;
  color: $color-alice-blue;
  padding: 28px 25px 15px 25px;
  overflow-y: auto;

  @include vp-1023 {
    padding: 30px 35px 10px 35px;
  }

  @include vp-767 {
    padding: 30px 25px 10px 25px;
  }
}

.card__back-title {
  margin: 0;
  margin-bottom: 13px;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
}

.card__back-subtitle {
  margin: 0;
  margin-bottom: 1px;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
}

.card__back-text {
  display: block;
  margin-bottom: 11px;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: $color-quartz;
}

.card:hover>.card__front,
.card:focus-visible>.card__front {
  display: none;
}

.card:hover>.card__back,
.card:focus-visible>.card__back {
  display: block;
}
