.contacts {
  padding: 120px 0;

  @include vp-1023 {
    padding: 100px 0;
  }

  @include vp-767 {
    padding: 58px 0 63px 0;
  }
}

.contacts__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;

  @include vp-1023 {
    gap: 30px;
  }

  @include vp-767 {
    grid-template-columns: 1fr;
    gap: 38px;
  }
}

.contacts__map-wrapper {
  background-image: url("../img/map-desktop.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: $color-quartz;

  @media (min-width: $vp-1024) {
    @media (min-resolution: 2dppx) {
      background-image: url("../img/map-desktop-2x.webp");
      background-size: cover;
    }
  }

  @include vp-1023 {
    background-image: url("../img/map-tablet.webp");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/map-tablet-2x.webp");
      background-size: cover;
    }
  }

  @include vp-767 {
    background-image: url("../img/map-mobile.webp");
    grid-row: 2/3;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/map-mobile-2x.webp");
      background-size: cover;
    }
  }
}

.contacts__map {
  border: none;
  display: block;
  width: 100%;
  min-height: 306px;

  @include vp-1023 {
    min-height: 335px;
  }

  @include vp-767 {
    min-height: 316px;
  }
}

.contacts__address {
  padding-left: 10.7%;
  padding-top: 75px;

  @include vp-1023 {
    padding-left: 0;
    padding-top: 68px;
  }

  @include vp-767 {
    grid-row: 1/2;
    padding-top: 0;
  }
}

.contacts__address p {
  margin: 0;
  margin-bottom: 30px;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;

  @include vp-1023 {
    margin-bottom: 26px;
  }
}

.contacts__address-text,
.contacts__tel {
  display: block;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.contacts__address-text {
  margin-bottom: 22px;

  br {
    display: none;
  }

  @include vp-1023 {
    margin-bottom: 21px;

    br {
      display: block;
    }
  }
}

.contacts__tel {
  display: inline-block;

  &:hover,
  &:focus {
    color: $color-neon-blue;
  }

  &:active {
    color: $color-neon-blue;
    opacity: 0.5;
  }
}

.contacts__address-text-wrapper {
  display: flex;
}

.contacts__icon-wrapper {
  margin-right: 10px;
}

.contacts__address-icon {
  width: 18px;
  height: 22px;

  @include vp-1023 {
    margin-top: 7px;
  }
}

.contacts__tel-icon {
  color: $color-tangaroa;
  margin-right: 10px;
}


.contacts__tel:hover .contacts__tel-icon,
.contacts__tel:focus .contacts__tel-icon {
  color: $color-neon-blue;
}

.contacts__tel:active .contacts__tel-icon {
  color: $color-neon-blue;
  opacity: 0.5;
}
