.custom-toggle {
  position: relative;

  &.is-invalid {
    label span {
      color: #ff0000;
    }
  }

  .input-message {
    position: absolute;
    right: 0;
    bottom: -20px;
    font-weight: 400;
    font-size: 10px;
    line-height: 13px;

    &.is-invalid {
      color: #ff0000;
    }
  }
}
