.main-block {
  min-height: 650px;
  width: auto;
  background-color: $color-tangaroa;
  background-image: url("../img/promo-background-desktop.jpg");
  filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @media (min-width: $vp-1024) {
    @media (min-resolution: 2dppx) {
      background-image: url("../img/promo-background-desktop-2x.jpg");
      min-height: 650px;
      width: auto;
    }
  }

  @include vp-1023 {
    min-height: 638px;
    background-image: url("../img/promo-background-tablet.jpg");
    filter: none;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/promo-background-tablet-2x.jpg");
      min-height: 638px;
      width: auto;
    }
  }

  @include vp-767 {
    min-height: 500px;
    background-image: url("../img/promo-background-mobile.jpg");
    filter: none;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/promo-background-mobile-2x.jpg");
      min-height: 500px;
      width: auto;
    }
  }
}

.main-block__wrapper {
  padding: 270px 95px 20px 95px;

  @include vp-1023 {
    padding: 268px 0 20px 0;
  }

  @include vp-767 {
    padding: 175px 25px 20px 0;
  }
}

.main-block__title {
  margin: 0;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 54px;
  line-height: 66px;
  color: $color-alice-blue;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);

  @include vp-1023 {
    margin-bottom: 12px;
    font-size: 50px;
    line-height: 61px;
    text-shadow: none;
  }

  @include vp-767 {
    margin-bottom: 10px;
    font-size: 36px;
    line-height: 45px;
  }
}

.main-block__text {
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: $color-alice-blue;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);

  @include vp-1023 {
    font-size: 18px;
    line-height: 22px;
    text-shadow: none;
  }

  @include vp-767 {
    display: block;
    font-size: 16px;
    padding-right: 35px;
  }
}
