.trips {
  padding-top: 110px;
  padding-bottom: 136px;

  @include vp-1023 {
    padding-top: 90px;
    padding-bottom: 93px;
  }

  @include vp-767 {
    padding-top: 57px;
    padding-bottom: 83px;
  }
}

.trips__wrapper {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr;
  column-gap: 40px;

  @include vp-1023 {
    column-gap: 30px;
    align-items: start;
  }

  @include vp-767 {
    row-gap: 45px;
    grid-template-columns: 1fr;
    justify-items: center;
  }
}

.trips__wrapper img {
  @include vp-1023 {
    margin-top: 10px;
  }

  @include vp-767 {
    margin-top: 0;
  }
}

.trips__text-wrapper {
  padding-top: 66px;
  padding-bottom: 66px;

  @include vp-1023 {
    padding-top: 0;
    padding-bottom: 0;
  }
}

.trips__text-wrapper h2 {
  margin: 0;
  margin-bottom: 23px;
  padding-top: 2px;
  font-weight: 600;
  font-size: 28px;
  line-height: 42px;

  br {
    display: none;
  }

  @include vp-1023 {
    padding-top: 0;
    font-size: 26px;
    line-height: 36px;
    margin-bottom: 17px;

    br {
      display: inline-block;
    }
  }

  @include vp-767 {
    font-size: 24px;
    line-height: 34px;
    margin-bottom: 14px;
  }
}

.trips__text-wrapper p {
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  padding-right: 48px;

  @include vp-1023 {
    padding-right: 0;
  }
}
